.cart-product-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 50px auto;
}

.cart-product-container img {
    width: 120px;
    align-items: left;
}

.cart-title {
    width: 200px;
    text-align: left;
}

.img-and-title-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart-quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.cart-quantity-container p {
    font-size: 25px;
    width: 30px;
    text-align: center;
}

.qty-btn {
    border: none;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #1B9303;
    color: white;
}

.qty-btn:hover {
    cursor: pointer;
}

.price-and-remove {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cart-price {
    width: 100px;
}

.remove-btn {
    font-size: 12px;
    text-decoration: underline;
    color: red;
    margin-top:  -12px;
}

.remove-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .cart-product-container {
        display: flex;
        flex-direction: column;
        /* border-bottom: 1px solid grey; */
        padding: 20px;
        box-sizing: border-box;
    }

    .cart-title {
        text-align: center;
    }
}