.category-container {
    width: 30%;
    padding-bottom: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.category-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.category-text-container {
    padding:  0 10px;
}

.category-btn {
    padding: 10px;
    border: none;
    background-color: #1B9303;
    color: white;
}

.category-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .category-container {
        width: 90%;
        margin: 50px auto;
    }
}