#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B9303;
}

#nav-container a {
    text-decoration: none;
    color: white;
    padding: 0 30px;
}

#middle-nav {
    display: flex;
}

#middle-nav a {
    padding: 0 16px;
}

#cart-nav {
    position: relative;
}

.cart-total {
    position: absolute;
    top: -55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    #nav-container a {
        font-size: 10px;
    }

    .cart-total {
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
    }

    #middle-nav a {
        padding: 0 10px;
    }
}

