#mini-nav {
    width: 100%;
    background-color: #1B9303;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    padding: 20px 0;
}

#mini-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 0 16px;
}

#mini-nav p {
    margin: 0;
    color: white;
    font-size: 16px;
    padding-right: 10px;
}

#mini-nav p:hover {
    cursor: pointer
}

#cart {
    height: 25px;
}

.products-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

#purchase-container {
    display: flex;
    justify-content: space-between;
}

.qty {
    width: 24%;
    border: none;
    border: 0.5px solid green;
    text-align: center;
    border-radius: 2px;
}

.product-btn {
    border-radius: 2px;
    padding: 10px 16px;
    width: 69%;
}


.product-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    #mini-nav {
        flex-direction: column;
    }

    #categories-container {
        display: flex;
        text-align: center;
        text-align: center;
    }
} 