.product-card {
    width: 150px;
    height: 300px;
    padding: 40px 60px;
    margin: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-image {
    width: 150px;
}

.product-btn {
    padding: 10px;
    border: none;
    color: white;
    background-color: #1B9303;
}

.product-card span {
    color: #1B9303;
    font-weight: bold;
}

.product-card h1 {
    margin: 0;
}

.input-add {
    display: flex;
    justify-content: space-between;
}

#purchase-container {
    display: flex;
    flex-direction: column;
}

.product-page-btn {
    width: 100%;
    padding: 12px;
    border: none;
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 10px 0;
    border-radius: 8px;
    background-color: white;
    color: #1B9303;
    border: 1px solid #1B9303;
    font-weight: bold;
}

.product-page-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .purchase-container {
        width: 150px;
    }
}